body{
    background-color: rgb(99, 141, 148);
}
#flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card{
    background-color: lab(91.12% -48.08 -14.14 / 0.247);
    padding: 15px;
    border: 3px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(86, 87, 84);
    margin: 10px;
}


.web{
    color: blue;
    cursor: pointer;
}

button, input{
    
    height: 25px;
    border-radius: 10px;
    padding: 3px 2px;
    text-align: center;
}

label{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(15, 4, 78);

}

h1, button{
    color: rgb(15, 4, 78);
    font-weight: bold;
}

button{
    padding: 5px 10px;
    background-color: rgb(56, 116, 235);
    border: 2px;
    box-shadow: 3px 3px 5px;
}

button:hover{
    background-color: rgb(81, 130, 230);
    box-shadow: 1px 1px 3px;
}

button:active{
    
    background-color: rgb(123, 165, 248);
    border: none;
    box-shadow: none;
}