body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
}

.box{
    width: 90%;
    border: 2px ridge rgb(90, 78, 107);
    padding: 10px;
    margin: 10px;
}

h2{
    text-align: center;
}