*{
    /* all elements */
    box-sizing: border-box;
}

.container{
    background-color: bisque;
    /* take entire height of the browser */
    height: 100vh;
}

.box{
    background-color: rgb(30, 127, 206);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-height: 50%;
    /* this is the final */

} 