body{
   background-image:url(images/daniele-franchi-S9LN3vb47gw-unsplash.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    color: #313129;
    backdrop-filter: blur(3px);
    /*!*background-color: rgba(164, 200, 208, 0.05);*! gives a glassy look. but I dont like it*/
    width: 100%;
}

