#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, sans-serif;
}

#myH1{
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
}

#btnContainer{
    text-align:center;
}

.buttons{
    font-size: 2em;
    color: #3486e4;
    background-color: #86efb8;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: #0afa76;
    color: #0561bc;
}

.buttons:active{
    background-color: #15ed93;
    color: #0d72d8;
}